<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴소개 페이지</title>
</head>
<body>
    <div class="listwrap">
        <% for(let i=0; i< prdData.length; i++){ %>
            <div class="list">
                <p><%- prdData[i].name %></p>
                <img src="/upload/<%- prdData[i].thumbnail %>">
            </div>
        <% } %>
    </div>
</body>
</html>